@page "/"

<PageTitle>Choctaw Indian Fair</PageTitle>

<MudPaper Height="85vh" Width="100%" MinHeight="25rem" Class="relative overflow-hidden">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/img/CIFVideoWeb_1.mp4" type="video/mp4">
  </video>
</MudPaper>

<MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true"
  AutoCycle="true" TData="object">
  <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
    <div class="d-flex" style="height:100%">
      <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
    <div class="d-flex" style="height:100%">
      <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
    <div class="d-flex" style="height:100%">
      <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
    <div class="d-flex" style="height:100%">
      <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
    </div>
  </MudCarouselItem>
</MudCarousel>
